h1{
	font-size : 70px;
	margin : 0;
	text-align : center;
	margin-top : 50px;
}

h2{
	font-family : ;
	font-size : 40px;
	margin : 0;
	text-align : center;
	margin-bottom : 50px;
	border-top : 20px;
}

h3{
	margin : 0;
	margin-bottom : 10px;
	text-decoration : underline;
}

body {
	background-color : rgb(191,207,222);
    background-attachment: fixed;
    background-size: 100%;
	margin : 0;
	overflow-y: scroll;
	font-family: 'Montserrat', sans-serif;
}

/*
div, img {
	border-radius : 1em;
}
*/

nav {
    position : fixed;
    top : 0px;
    background-color : rgb(238,241,246);
    width : 100%;
    text-align:center;
    z-index: 2;
}

nav a{
    display:inline-block;
    vertical-align: top;
    padding-top : 1em;
	padding-bottom : 1em;
	padding-left : 1.5em;
	padding-right : 1.5em;
}
nav a:link {
	color : black;
	text-decoration : none;
}

nav a:visited {
	color : black;
	text-decoration : none;
}

nav a:hover {
	color : rgb(75,124,165);
	text-decoration : underline;
}

nav a:active {
	color : rgb(35,75,110);
	text-decoration : underline;
}

.main{
	width : 100%;	
}

#heading{
    background-size: cover;
    background-position: center center;
	background-image: url(images/Hero.jpeg);
    
    padding-top: 15%;
    padding-bottom: 20%;
}

#contents {
	
}
#contents a {
	color : black;
	text-decoration : none;
}

.sections {
	background-color : rgb(191,207,222);
	padding : 40px;
	padding-left : 5%;
	padding-right : 5%;    
    text-align: center;
	overflow : auto;
}

.introPara {
    width : 50%;
    margin: auto;
}

div .Tile{
    width : 300px;
    height : 650px;
    display:inline-block;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%; 
    background-color: rgb(238,241,246);
}

.Tile img{
    width:250px;
    height : 250px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    object-fit: contain;

}

.Tile p{
    height: 270px;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
}

read:target{
    padding-top: 50px;
}

.read, .download, .gitHub, .playGame {
    width:100px;
    border: 2px solid;
    padding : 10px;
    margin: auto;
}

.read:hover, .download:hover, .gitHub:hover, .playGame:hover {
    cursor: pointer;
    background-color: rgb(75,124,165);
}

/* drop-down info on projects */
.descr{
    width : 900px;
    margin: auto;
    margin-top: 10px;
    padding-top: 50px; 
    background-color: rgb(238,241,246);
    overflow: auto;
}

.descr h2{
    margin: 20px;
}

.descr .description{
    width : 400px;
    position: relative;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}
.descr p{
    text-align: left;
}

.descr .whatIDid, .descr .gallery, .descr #outsideSchool {
    width : 400px;
    position: relative;
    float:right;
    margin-left: 25px;
    margin-right: 25px;
}

.descr img, .descr iframe{
    width:400px;
    height : 400px;
    object-fit: contain;
}

.descr .galleryImages {
   display: none;
}

.descr .gallery .directionArrows {
    width : 25px;
    height: 25px;
    cursor: pointer;
    margin: 10px;
    
}

.descr .gallery .directionArrows:hover {
    filter: brightness(.5);
}

.descr .links {
    width: 400px;
    height: 50px;
    margin: auto;
    
}

.descr .gitHub, .desc .download, .playGame {
    display: inline-block;
    margin: auto;
}

/*Social*/
.social{
    width: 100%;
    background-color : rgb(238,241,246);
    display: flex;
  justify-content: center;
}

.social a{
    display:inline-block;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

footer{
	background-color : rgb(238,241,246);
    font-size : 15px;
    padding-bottom: 10px;
	color : black;
    text-align: center;
}

/*
#groupImages img{
    width : 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    float : none;
}

.video{
    margin-left : 10%;
	margin-right : 10%;
    width: 80%;
    height: 400px;
}
*/

/* JQuery */
    /*description slideshow*/
    #controls{
        width : 400px;
        margin-bottom : 0.5em;
    }

    #next{
        float : right;
    }

    #slides {
      position : static;
      margin : auto;
      width : 300px;
      border-radius : 1em 1em 0 0;
      display : none;
    }

    .slidesjs-previous {
        float : left;
    }

    .slidesjs-next {
        float : right;
    }

    /*SPA*/
    #sub {
      width: 100%;
      margin: 0 auto;
      margin-top: 1em;
    }

    #sub ul {
      list-style-type: none;
      padding: 0;
      margin: 0 auto;
      text-align: center;  
    }

    #sub ul li {
      text-align: center;
      display: inline;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.5em;
    }

    #sub ul li a {
      width: 40px;
      text-decoration: none;
      color: blue;
    }

    #sub ul li a.selected {
      border-bottom: 2px solid #333;
      color: blue;
    }

    #sub ul li a:visited, #sub ul li a:active {
      color: blue;
    }

    #abominationContent, #PulpContent, #OtherProjContent, #noteContent {
        display : none;
    }

/* Media Queries

	@media screen and (max-width: 720px){
	
	.main{
	width : 70%;
	margin-top : 1em;
	margin-left : 25%;
	margin-right : 5%;
	background-color : rgb(238,241,246);
	box-shadow : 6px 6px 10px 5px rgba(238,241,246,.3);
	border : 1px solid;
	border-bottom-style : none;
	border-top-style : none;
	height : 100%;
	}

	.menus {
	position : fixed;
	background-color : rgb(238,241,246);
	padding-top : 1em;
	top : 4em;
	width : 25%;
	left : 0;
	right : 65%;
	border : 2px solid;
	font-size : 10px;
	}

	h1{
	font-size : 50px;
	margin : 0;
	text-align : center;
	margin-top : 50px;
		}

	h2{
	font-size : 20px;
	margin : 0;
	text-align : center;
	margin-bottom : 20px;
	border-top : 10px;
	}

	#heading img {
	position : relative;
	right : 0;
	float : right;
	margin-right : 1em;
	margin-top : 1em;
	width : 80%;
}

	nav {
	float : left;
	border : 2px solid;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	bottom : 0;
	padding-left : .25em;
	padding-right : .25em;
	width : 97%;
	background-color : rgb(238,241,246);
	border-radius : 0 0 1em 1em;
	}
	
	.sections {
		background-color : rgb(191,207,222);
		font-size : 15px;
		margin : 30px;
		padding : 15px;
		overflow : auto;
	}
	
	.sections:hover {
		font-size : 15px;
		box-shadow : 3px 3px 10px 3px rgba(75,124,165,.4);
		background-color : rgb(75,124,165);
	}
	
	#contents img {
		position : relative;
		opacity : 1;
		float : right;
		margin-right : 0em;
	}
	
JQuery
	#slides {
		  position : static;
		  margin : auto;
		  width : 300px;
		  border-radius : 1em 1em 0 0;
          display : none;
        }

SPA
	#sub {
	width: 100%;
	margin: 0 auto;
	margin-top: 1em;
	}

	#sub ul {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;  
	}

	#sub ul li {
	text-align: center;
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
	}
	
	footer{
		font-size : 20px;
		color : gray;
	}
}
white : 240,240,255
light blue: 160,210,255
dark blue: 70,150,220
*/